body{
    text-align: center; 
    font-family: Helvetica;
}

#Header{
    font-size: 18px;
    background-image: url(Images/the-flatiron-building.png);
    background-size: cover;
    color: white;
}

#Header h1{
    font-size: 70px;
}

#Header p a{
    color: white;
}

h2{
    font-size: 32px;
    font-weight: bold;
}
